* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.brand {
  font-weight: normal;
  letter-spacing: 2px;
  margin: 10px;
  text-align: center;
}

header {
  margin-top: 10px;
  width: 100%;
  text-align: center;
}
nav {
  border-top: 1px solid #b38a4c;
  margin: 0 auto;
  width: 670px;
}
nav li {
  list-style: none;
  display: inline-block;
}
nav a {
  margin: 0 20px;
  text-decoration: none;
  font-weight: normal;
  letter-spacing: 3px;
  color: black;
}
.account {
  float: right;
  cursor: pointer;
}
.account p {
  position: relative;
  top: -20px;
}
.menu-icon {
  float: left;
  visibility: hidden;
}
@media (max-width: 670px) {
  .menu-icon {
    visibility: visible;
  }
  nav {
    width: 100%;
  }
  .account,
  nav li {
    visibility: hidden;
  }
}

.container {
  width: 100%;
  padding: 50px;
  margin-right: auto;
  margin-left: auto;
}

.container-1 {
  /* silahkan isi style kalian */
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.container-1 h1 {
  font-size: 72px;
  color: #b38a4c;
  text-align: center;
  line-height: 1.25em;
}

.container-1 p {
  text-align: center;
  line-height: 1.67em;
  font-size: 20px;
  letter-spacing: normal;
  margin-bottom: 50px;
}

.top-wrapper {
  background-color: rgb(var(247, 247, 247));
  padding: 50px 0 100px 0;
  text-align: center;
}

#slider {
  overflow: hidden;
}

#slider figure {
  position: relative;
  width: 500%;
  float: left;
  margin: 0;
  left: 0;
  top: 0;
  animation: 20s slider infinite;
  display: flex;
}

#slider figure img {
  width: 100%;
  height: 570px;
  display: inline-block;
  flex: auto;
}

@media (max-width: 670px) {
  #slider figure img {
    height: 100px;
    width: 100%;
  }
}
@media (max-width: 400px) {
  .top-wrapper h1 {
    font-size: 32px;
    color: #b38a4c;
    text-align: center;
    line-height: 1.25em;
  }
  #slider figure img {
    height: 200px;
    width: 50%;
  }
  .container-2 {
    margin: 0;
    padding: 0;
  }
}

@keyframes slider {
  0% {
    left: 0;
  }
  20% {
    left: 0;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -400%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}

.container-2 {
  padding: 0px;
  margin: 0px;
  width: 100%;
}

.story {
  background-color: #b38a4c;
  color: white;
  text-align: center;
  text-indent: 4px;
  padding: 20px 120px 20px 120px;
}
@media (max-width: 400px) {
  .story {
    background-color: #b38a4c;
    color: white;
    text-align: center;
    text-indent: 0;
    padding: 10px;
  }
}

.story-img img {
  height: auto;
  width: 100%;
}
.story h2,
h3 {
  text-indent: 6px;
}

.container-3 {
  height: 500px;
  color: #b38a4c;
  text-align: center;
}

.container-3 p {
  color: black;
}

.product-card {
  width: 33.33333%;
  padding: 0 8px;
  float: left;
}

@media (max-width: 767px) {
  .product-card {
    width: 100%;
  }
}

.product-icon {
  padding: 30px;
  font-size: 50px !important;
}

.product-title {
  margin-bottom: 20px;
  font-size: 24px;
}

footer {
  position: relative;
  bottom: 0;
  text-align: center;
}
footer span {
  margin: 10px;
}
footer .tag {
  position: relative;
  bottom: 0;
  color: darkgrey;
}
