* {
    box-sizing: border-box;
}

.container {
    width: 100%;
    padding: 50px;
    margin-right: auto;
    margin-left: auto;
}

.container-1 {
    /* silahkan isi style kalian */
}

.container-2 {
    /* silahkan isi style kalian */
}

.container-3 {
    color: #b38a4c;
    text-align: center;
}

.container-3 p {
    color: black;
}

.product-card {
    /* float: left; */
}